/* Navbar */

/* Hero | Navbar */


/* Hero Image */


/* End | Hero Image */


/* Events */

/* End | Events */


/* About US */

/* End | About Us */


/* Inspiration */
.container{
	border: red solid 1px ;                /* temp */
}
img {
	max-width: 100%;
	border-radius: 50%;
	margin: 0 auto;
}
/* End | Inspiration */


/* Footer */

/* End | Footer */
