@font-face {
    font-family: opensans;
    src: url(../font/OpenSans-Light.ttf);
}
html{
  min-height: 100%;
}
body {
  font-family: opensans;
  font-size: 14px;
  line-height: 20px;
  background:
		url(../img/grain.png),
		-moz-linear-gradient(top, #CAE1F4 0%,#EEEEEE 100%);
}

/* Navbar */

/* Hero | Navbar */


/* Hero Image */


/* End | Hero Image */


/* Events */

/* End | Events */


/* About US */

/* End | About Us */


/* Inspiration */
img {
	max-width: 100%;
	border-radius: 50%;
	margin: 0 auto;
}
/* End | Inspiration */


/* Footer */
section#footer
{
	background: #7CB9E8;
	padding-bottom: 25px;
}
footer h1 small
{
	color: #000000;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-top: 40px;
}
/* End | Footer */
